*{
    
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    }

.logo{
        margin: 0 auto;
        min-height: 70%;
        display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 100%;
    clear: both;
    content: '';
    display: table;
       
}
img{
width: 300px;
height: 80px;
float: left;
padding: 8px;
}
.navegacion{
float: right;
display: flex;
justify-content: center;
align-items: center;
}

nav ul li{
list-style: none;
margin-left: 27px;
float: left;
padding: 10px 0;
position: relative;

}
nav ul li a{
text-decoration: none;
color: #856DB1;
font-weight: bold;
padding: 10%;

}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #856DB1;
    height: 2px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
    }

nav ul li a:hover::before{
    width: 100%;
    
}

.principal{
    
    background-color: white;
    text-align: center;
    padding: 20px;
    margin:  5VH;
    
    }

.imagenes1{
display: flex;

}
.imagenes2{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
        }
.pie{
    color: #856DB1;
    clear: both;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

}

@media (max-width:700px){
header{
    flex-direction: column;
}

.navegacion
padding: 10px 0;
}



